$colornegro: rgb(34, 34, 34);
$colornaranja1: rgb(255, 165, 106);
$colornaranja2: rgb(255, 119, 29);


.container {
    .row {
        .col {
            .card {
                margin-bottom: 2em;
                overflow: hidden;
                transform: all 500ms ease;
                border-radius: 5px;
                box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

                .card-body {
                    .card-title {
                        color: $colornaranja1;
                    }
                    .card-text {
                        color: white;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    transition: all .8s ease;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}